body {
	margin: 30px;
}

h2 {
	font-size: 16px;
}

a, a:hover, a:visited {
	text-decoration: none;
}

a.box {
	line-height: 70px;
}

.clear {
	clear: both;
}

.column {
	margin: 0 10px;
	width: 80px;
	float: left;
}

.box {
	background: #EEE;
	background-image: -webkit-linear-gradient(circle, rgb(255,255,255) 80%, rgb(255,255,255) 65%);
	display: block;
	width: 70px;
	height: 70px;
	margin: 10px 0;
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	transition: all 0.5s ease;
}

.box h2, .box p {
	margin: 0;
	padding: 0;
}

.box:hover {
	background: #E5E5E5;
}

.add-column, .add-row {
	font-size: 60px;
	line-height: 70px;
	cursor: pointer;
}

.text-input {
	width: 50px;
	background: rgba(255, 255, 255, 0.7);
}

.text-input:focus {
	outline: none;
	box-shadow: 2px 2px 4px #333;
}